<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Appointments by Person</title>
</head>
<body>
<h1>Appointments for Person</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Patient Name</th>
    <th>Doctor Name</th>
    <th>Action Time</th>
    <th>Diagnosis</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.id}"></td>
    <td th:text="${appointment.patients.firstName}"></td>
    <td th:text="${appointment.doctors.name}"></td>
    <td th:text="${appointment.actionTime}"></td>
    <td th:text="${appointment.description}" ></td>
    <td th:text="${appointment.treatment}" ></td>
  </tr>
  </tbody>
</table>
</body>
</html>
