<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Appointment</title>
</head>
<body>
<h2>Create/Update Appointment</h2>
<form th:action="@{/appointment}" th:object="${appointment}" method="post">
  <label for="patients">Patient:</label>
  <select id="patients" name="patients.id">
    <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.lastName}"></option>
  </select>
  <br>
  <label for="doctors">Doctor:</label>
  <select id="doctors" name="doctors.id">
    <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.name}"></option>
  </select>
  <br>
  <label for="actionTime">Action Time:</label>
  <input type="datetime-local" id="actionTime" th:field="*{actionTime}" >
  <br>
<!--  <div>-->
<!--    <label for="description">Description:</label>-->
<!--    <input type="text" id="description" th:field="*{description}" >-->
<!--  </div>-->
<!--  <label for="treatment">Treatment:</label>-->
<!--  <input type="text" id="treatment" th:field="*{treatment}" >-->
  <br>
  <input type="submit" value="Save">
</form>
</body>
</html>
