<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>
<h1>Appointments</h1>
<table>
    <thead>
    <tr>
        <th>Patient Name</th>
        <th>Doctor Name</th>
        <th>Action Time</th>
        <th>Description</th>
        <th>Treatment</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.patients.firstName} +  ${appointment.patients.lastName}"></td>
        <td th:text="${appointment.doctors.name} +  ${appointment.doctors.surname}"></td>
        <td th:text="${appointment.actionTime}"></td>
        <td th:text="${appointment.description}" ></td>
        <td th:text="${appointment.treatment}" ></td>
        <td>  <a th:href="@{/appointment/last/{id}(id=${appointment.id})}" class="button">Details</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/appointment/create}" class="button">Create New Appointment</a>
<a th:href="@{/appointments/}" class="button">Get Last Appointments</a>
</body>
</html>
