<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment Details</title>
</head>
<body>
<h1>Appointment Details</h1>
<p th:text="'Patients: ' + ${appointment.patients.lastName} + ${appointment.patients.firstName}"></p>
<p th:text="'Doctor: ' + ${appointment.doctors.name} + ${appointment.doctors.surname}"></p>
<p th:text="'Appointment time: ' + ${appointment.actionTime}"></p>
<p th:text="'Description: ' + ${appointment.description}"></p>
<p th:text="'Treatment: ' + ${appointment.treatment}"></p>
<a th:href="@{/appointments/before}" class="button">Back to List</a>
<a th:href="@{/appointment/update/last/{id}(id=${appointment.id})}" class="button">Edit</a>
<a th:href="@{/appointment/delete/{id}(id=${appointment.id})}" class="button" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
</body>
</html>