<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Appointments</title>
</head>
<body>
<h1>Appointments</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Patient Name</th>
    <th>Doctor Name</th>
    <th>Action Time</th>
    <th>Diagnosis</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.id}"></td>
    <td th:text="${appointment.patients.firstName}"></td>
    <td th:text="${appointment.doctors.name}"></td>
    <td th:text="${appointment.actionTime}"></td>
    <td>
      <ul>
        <li th:each="diagnosis : ${appointment.diagnosis}" th:text="${diagnosis.description}"></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
