<!-- doctor-details.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Doctor Details</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Doctor Details</h1>
<p th:text="'ID: ' + ${doctor.id}"></p>
<p th:text="'Name: ' + ${doctor.name}"></p>
<p th:text="'Surname: ' + ${doctor.surname}"></p>
<p th:text="'Birthday: ' + ${doctor.birthdayDate}"></p>
<p th:text="'Specialization: ' + ${doctor.specialization}"></p>
<a th:href="@{/doctors}" class="button">Back to List</a>
<a th:href="@{/doctors/update/{id}(id=${doctor.id})}" class="button">Edit</a>
<a th:href="@{/doctors/delete/{id}(id=${doctor.id})}" class="button" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
</body>
</html>

