<!-- doctors.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Doctors</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Doctors</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Birthday</th>
    <th>Specialization</th>
    <th>Actions</th>
  </tr>
  <tr th:each="doctor : ${doctors}">
    <td th:text="${doctor.id}"></td>
    <td th:text="${doctor.name}"></td>
    <td th:text="${doctor.surname}"></td>
    <td th:text="${doctor.birthdayDate}"></td>
    <td th:text="${doctor.specialization}"></td>
    <td>
      <a th:href="@{/doctors/{id}(id=${doctor.id})}" class="button">Details</a>
    </td>
  </tr>
</table>
<a th:href="@{/doctors/create}" class="button">Create New Doctor</a>
<br>
<a th:href="@{/doctors/searchByName}" class ="button">Find By Name</a>
<br>
<a th:href="@{/doctors/searchBySurname}" class ="button">Find By Surname</a>
<br>
<a th:href="@{/doctors/searchBySpecialization}" class ="button">Find By Specialization</a>
</body>
</html>

